<% music_lessons.each do |cat, lessons| %>
<h3> <%= cat %> </h3>
<ul class="one-edge-shadow">
  <% lessons.each do |lesson| %>
   <% if lesson == next_music_lesson %>
    <li><%= link_to "Lesson #{lesson.level}: #{lesson.title}", next_music_lesson %></li>
  <% else %>
   <% if completed_music_lessons.include?(lesson) %>
   <li class="completed"> <%= link_to "Lesson #{lesson.level} : #{lesson.title}", lesson %> <span id="checkmark">&#x2713</span></li>
  <% else %>
   <li class="incomplete">Lesson <%= lesson.level %>: <%= lesson.title %></li>
 <% end %>
 <% end %>
<% end %>
</ul>
<br>
<% end %>


