<div id="music-lesson-text">
    <p><strong>Progress:</strong> <span id='total-progress'><%= current_user.progress %></span>%</p>
    <br>
      <h1><%= @lesson.title %></h1><br>
      <p>Lesson Topics: <%= @lesson.lesson_text %></p><br>
      <p class="points">Available Points: <%= @lesson.points %></p><br>
      <p>Instructions: <%= @lesson.question_text %></p>
  </div>

<div class="container" id="keyboard-container">

      <div class="canvas"  id="keyboard-partial">
        <%= render 'keyboard' %>
      </div>

  <div id="music-lessons-page"></div>

    <%= content_tag(:div, class: "music-lesson-id", 'data-id' => @lesson.id) do %>
    <% end %>

</div>
