<div class="container" id="keyboard-container">
    <h1><%= @lesson.title %></h1>
    <p>Lesson Topics: <%= @lesson.lesson_text %></p>
    <p class="points">Available Points: <%= @lesson.points %></p>
    <div class="text">
      <p>Instructions: <%= @lesson.question_text %></p>
    </div>
    <div class="canvas">
      <%= render 'keyboard' %>
    </div>

  <div id="music-lessons-page"></div>
    <%= content_tag(:div, class: "music-lesson-id", 'data-id' => @lesson.id) do %>
    <% end %>


</div>
