

<div class="container" id="keyboard-container">
    <div class="text">

    </div>
    <div class="canvas">
      <%= render 'keyboard' %>
    </div>

  <div id="music-lessons-page"></div>
    <%= content_tag(:div, class: "music-lesson-id", 'data-id' => @lesson.id) do %>
    <% end %>
</div>

<div class="music-lesson-info">

    <h1 class="music-bold"><%= @lesson.title %></h1>
    <p class="music-instructions">Lesson Topics: <%= @lesson.lesson_text %></p>
    <p class="music-bold points">Available Points: <%= @lesson.points %></p>
    <p class="music-instructions">Instructions: <%= @lesson.question_text %></p>
    <button id="lesson">Start Lesson</button>

</div>
