<% code_lessons.each do |cat, lessons| %>
  <h3><%= cat %></h3>
  <ul>
  <% lessons.each do |lesson| %>
  <% if lesson == next_code_lesson %>
    <li class="one-edge-shadow"><%= link_to "Lesson #{lesson.level}: #{lesson.title}", next_code_lesson %></li>
  <% else %>
    <% if completed_code_lessons.include?(lesson) %>
      <li class="completed one-edge-shadow"> <%= link_to "Lesson #{lesson.level}: #{lesson.title}", lesson %><span id="checkmark"></%> &#x2713</span></li>
    <% else %>
      <li class="incomplete one-edge-shadow">Lesson <%= lesson.level %>: <%= lesson.title %></li>
    <% end %>
    <% end %>
  <% end %>
  </ul>
  <br>
<% end %>
