<div class="container">
    <h1><%= @lesson.title %></h1>
    <p>Lesson Topics: <%= @lesson.lesson_text %></p>
    <p class="points">Available Points: <%= @lesson.points %></p>

    <p>Instructions: <%= @lesson.question_text %></p>
    <%= content_tag(:div, class: "lesson-id", 'data-id' => @lesson.id) do %>
    <% end %>
    <div id="code_lessons_page"></div>

    <div class="canvas">
      <canvas id="lessoncanvas" height="600" width="600"></canvas>
    </div>
          <%= form_tag( @lesson, remote: true) do |f| %>

          <%= label_tag(:answer, "Enter your answer") %>
          <%= text_area_tag :answer %>

          <%= submit_tag( "Submit Answer") %>

        <% end %>
      </div>

    </div>

</div>
