<div class="container">
    <div class="canvas">
      <canvas id="lessoncanvas" height="600" width="600"></canvas>
    </div>
    <div id="code-lesson-text">
      <p><strong>Progress:</strong> <span id='total-progress'><%= current_user.progress %></span>%</p>
      <br>
      <h1><%= @lesson.title %></h1>

      <p><strong>Lesson Topic</strong>: <%= @lesson.lesson_text %></p>
      <br>
      <p class="points"><strong>Available Points:</strong> <%= @lesson.points %></p>
      <br>
      <p><strong>Instructions:</strong> <%= @lesson.question_text %></p>
      <%= content_tag(:div, class: "lesson-id", 'data-id' => @lesson.id) do %>
      <% end %>
      <br>
      <div class="errors"></div>
      <%= form_tag( @lesson, method: :get, remote: true) do |f| %>

      <%= label_tag(:answer, "Enter your answer") %>
      <%= text_area_tag :answer, nil, size: "50x10", id: 'code-area' %>
      <br>
      <%= submit_tag( "Submit Answer") %>

      <% end %>
      <%= link_to "Reset", code_lesson_path %>
  </div>

    <div id="code-lessons-page"></div>
</div>
