<!DOCTYPE html>
<html>
  <head>
    <title>LearnR</title>
    <%= stylesheet_link_tag    "keyboard", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://code.createjs.com/createjs-2013.12.12.min.js" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans" %>
  </head>
  <body>
    <div id="header" class="one-edge-shadow">
      <%= link_to_unless_current image_tag('logo.png', id: 'logo'), current_user %>
        <div id="nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= current_user.username %></li>
              <li>Score: <span id='total-score'><%= current_user.score %></span></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to_unless_current 'Account', current_user %></li>
              <li><%= image_tag(current_user.avatar) %></li>
            <% end %>
          </ul>
        </div>
    </div>
    <div id="main-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <p class="quick_start"><%= flash[:quick_start] %></p>
      <%= yield %>
    </div>
  </body>
</html>
