<!DOCTYPE html>
<html>
  <head>
    <title>LearnR</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul>
      <li><%= link_to_unless_current 'Home', root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <li>
          <h1><%= current_user.username %></h1>
          <%= link_to 'Account',  current_user %>
        </li>
        <li>Total Score: <%= current_user.score %></li>
      <% end %>
    </ul>
    <hr>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
